body{
    width: 100vw;
    height: 100vh;
}

h1{
    text-align: center;
    width: 10%;
}

#container{
    display: flex;
    background-color: #999;
}

#canvas{
    width: 100vw;
    height: 100vh;
}
